{{#if hostImageTemplateUrl}}
    <img class="on-air-image round" src="{{image-template hostImageTemplateUrl 200 200 hostImageCropSetting}}" />
{{else}}
    {{#if showImageUrl}}
        <img class="on-air-image" src="{{showImageUrl}}" />
    {{else}}
        {{#if streamImageUrl}}
            <img class="on-air-image" src="{{streamImageUrl}}" />
        {{/if}}
    {{/if}}
{{/if}}
<div class="on-air-label">On Air Now</div>
<div class="on-air-title">{{onAirTitle}}</div>
{{#listen-button
    class='listen-live-button'
    data-action="Clicked Play/Pause Stream: stream-banner"
    data-label=streamName
    itemPK=streamSlug
    itemTitle=streamName
    type='blue-boss'
}}
Listen Live
{{/listen-button}}
{{yield}}
