{{#if hostImageTemplateUrl}}
    <img class="on-air-image" src="{{image-template hostImageTemplateUrl 200 200 hostImageCropSetting}}" />
{{else}}
    {{#if showImageUrl}}
        <img class="on-air-image" src="{{showImageUrl}}" />
    {{/if}}
{{/if}}
<div class="on-air-label">On Air Now</div>
<div class="show-title">{{showTitle}}</div>
<div class="listen-live-button">Listen Live</div>
{{yield}}
