{{#if isOpen}}
    <div class="btn-group">
      <button {{action 'popupShareWindow' 'Facebook' (share-url 'Facebook' metadata)}}
       class="btn btn--large btn--white"
      ><i class="fa fa-facebook"></i></button>
    
      <button {{action 'popupShareWindow' 'Twitter' (share-url 'Twitter' metadata)}}
      onclick={{action 'closeBar'}} class="btn btn--large btn--white"
      ><i class="fa fa-twitter"></i></button>

      <a href={{share-url 'Email' metadata}}
        class="btn btn--large btn--white"
        data-tracking-category="Persistent Player"
        data-tracking-action='Shared Story "{{metadata.shareText}}"'
        data-tracking-label='{{region}}|{{metadata.analyticsCode}}|{{type}}|Email'
        onclick={{action 'closeBar'}}
        ><i class="fa fa-envelope"></i></a>

      <a href={{share-url 'Email' metadata}}
        class="btn btn--large btn--white"
        data-tracking-category="Persistent Player"
        data-tracking-action='Shared Story "{{metadata.shareText}}"'
        data-tracking-label='{{region}}|{{metadata.analyticsCode}}|{{type}}|Email'
        onclick={{action 'closeBar'}}
        ><i class="fa fa-link"></i></a>
    </div>
{{/if}}
