{{#each imageGridItems as |image|}}
  {{#nypr-brick-item item=image template='vertical' as |brick|}}
    {{#with brick.item.attributes as |item|}}
      <div class="item__img {{ item.template }}" style="{{brick.backgroundImage}}">
        {{#if item.audio}}
          {{#listen-button
              type='blue-minion'
              itemPK=item.slug
              itemTitle=(or item.shortTitle item.title)
              itemShow=(or item.showTitle item.channelTitle 'NPR Article')}}
              Listen {{item.audioDurationReadable}}
          {{/listen-button}}
        {{/if}}
      </div>
      <div class="item__head">
        <h2 class="item__head__headline">
          <a
            title={{or item.shortTitle item.title}}
            data-label={{concat item.title " | " (or item.showTitle item.channelTitle 'NPR Article')}}
            href={{item.url}}>
          {{nypr-svg className="icon" icon="video"}}
          {{or item.shortTitle item.title}}
          </a>
        </h2>
        <div class="item__head__description">
          {{{or item.tease item.body}}}
        </div>
      </div>
        <a
          title={{or item.shortTitle item.title}}
          data-label={{concat item.title " | " (or item.showTitle item.channelTitle 'NPR Article')}}
          href={{item.url}}
          class="item__link--hidden">
          {{or item.shortTitle item.title}}
        </a>
    {{/with}}
  {{/nypr-brick-item}}
{{/each}}
