<div class="l-constrained flatpage">
  {{#if isFastBoot}}
    <div class=" django-content flatpage-loader--loading">
      Loading...
    </div>
  {{else if flatPage.content}}
    <div class="django-content">
      {{#if (eq flatPage.templateName 'flatpages/graphic_feature_plus.html')}}
        <div class="article-description">
          <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
          {{active-html html=flatPage.content }}
        </div>
      {{else}}
        <div class="graphic-default">
          <div class="grid_8 main l-col2of3">
            <div class="page-titlegroup">
              <h1 class="h1 h1--extrabold h1--mq-small">{{flatPage.title}}</h1>
            </div>
            <div class="article-tools clearfix">
              <div class="share-tools clearfix">
                <ul class="sharelinks clearfix">
                  <li class="fa-hover facebook">
                    <a class="fa-hover-link" href="https://www.facebook.com/sharer/sharer.php?u={{url-encode absoluteURL}}" aria-label="Share on Facebook" data-action="Share Flatpage" data-label={{concat flatPage.title ' | Facebook'}}>
                      <i class="fa fa-facebook fa-lg"></i>
                    </a>
                  </li>
                  <li class="fa-hover twitter">
                    <a class="fa-hover-link" href="https://twitter.com/intent/tweet?url={{url-encode absoluteURL}}&text={{url-encode flatPage.title}}&via=WQXR" aria-label="Share on Twitter" data-action="Share Flatpage" data-label={{concat flatPage.title ' | Twitter'}}>
                      <i class="fa fa-twitter fa-lg"></i>
                    </a>
                  </li>
                  <li class="fa-hover emails">
                    <a class="fa-hover-link" href="mailto:?subject={{url-encode flatPage.title}}&body={{url-encode absoluteURL}}" aria-label="Share through Email" data-action="Share Flatpage" data-label={{concat flatPage.title ' | Email'}}>
                      <i class="fa fa-envelope fa-lg"></i>
                    </a>
                  </li>
                  <li class="stfh edit-item" style="display: list-item;"><a data-url={{absoluteURL}} class="stf " target="_blank" href="{{adminRoot}}/admin/flatpages/flatpage/{{flatPage.id}}">Edit This</a></li>
                </ul>
              </div>
              <script type="text/javascript">
              $('#emailthislink').click(function() {
                return loadEmailForm(item_ctype, item_pk);
              });
              </script><script type="text/x-original-location" data-script-id="0"></script>
            </div>
            <div class="article-description">
              {{active-html html=flatPage.content}}
            </div>
          </div>
          <div class="grid_4 sidebar l-col1of3">
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
