<main class="l-container l-container--touch-full">
  <!-- <section>here goes the technical chunk</section> -->

  {{#if media.isMediumAndUp}}
    {{#stream-banner audio=audio streams=streams as |currentStream|}}
      <h3>{{currentStream.currentComposer.name}}, {{currentStream.currentPiece}}</h3>
      {{#link-to 'playlist' currentStream.slug class='text--small text--white'}}
        Music Playlist &raquo;
      {{/link-to}}
    {{/stream-banner}}
  {{else}}
    {{#stream-carousel streams=streams background=carouselBg as |stream|}}
      {{#listen-button
        audio=audio
        type='blue-boss'
        state=(if (eq stream.slug audio.currentId) audio.playState)
        itemPK=stream.slug
        itemTitle=stream.name}}
        Listen Live
      {{/listen-button}}
      {{#link-to 'playlist' stream.slug (query-params scheduleStation=stream.slug) class="text--small text--white"}}
        Music playlist &raquo;
      {{/link-to}}
    {{/stream-carousel}}
  {{/if}}

  <section class="home__stories">
    {{#nypr-brick-layout audio=audio as |layout|}}

      {{#if membershipChunk}}
        {{#layout.blowout as |big small|}}
          {{big item=model.featuredItems.[0]}}
          {{django-page page=model.membershipChunk}}
        {{/layout.blowout}}

        {{#layout.cards as |row|}}
          {{row.brick item=model.featuredItems.[1]}}
          {{row.brick item=model.featuredItems.[2]}}
          {{#row.brick}}
            {{dfp-ad
              slot="/6483581/rectangle/wqxr_rectangle"
              sizes=(array (array 300 250))
              target="wqxr_bigbox_ad"}}
          {{/row.brick}}
        {{/layout.cards}}
        {{layout.blowout items=(slice model.featuredItems 4 7)}}

      {{else}}

        {{layout.blowout items=(slice model.featuredItems 0 3)}}
        {{#layout.cards as |row|}}
          {{row.brick audio=audio item=model.featuredItems.[3]}}
          {{row.brick audio=audio item=model.featuredItems.[4]}}
          {{#row.brick class='brick__item--sponsored'}}
            {{dfp-ad
              slot="/6483581/rectangle/wqxr_rectangle"
              sizes=(array (array 300 250))
              target="wqxr_bigbox_ad"}}
          {{/row.brick}}
        {{/layout.cards}}

        {{layout.blowout items=(slice model.featuredItems 5 8)}}

      {{/if}}

    {{/nypr-brick-layout}}
    {{nypr-brick-grid audio=audio items=model.otherItems}}
  </section>

</main>
