<main>
    {{#if model.wartopChunk}}
      <section class="l-container l-container--touch-full wartop-chunk">
        {{django-page page=model.wartopChunk.pagecontent}}
      </section>
    {{/if}}

  <section class="l-container l-container--touch-full">
    {{#if media.isMediumAndUp}}
      {{#stream-banner audio=audio streams=streams as |currentStream|}}
        {{#if (and currentStream.currentComposer.name currentStream.currentPiece)}}
          <h3>{{currentStream.currentComposer.name}}, {{currentStream.currentPiece}}</h3>
          {{#link-to 'playlist' currentStream.slug class='text--small text--white'}}
            Recently played &raquo;
          {{/link-to}}
        {{else if currentStream.isWNYC}}
          <h3>{{currentStream.currentShow.showTitle}}{{#if currentStream.currentShow.episodeTitle}} - {{currentStream.currentShow.episodeTitle}}{{/if}}</h3>
        {{/if}}
      {{/stream-banner}}
    {{else}}
      {{#stream-carousel streams=streams background=carouselBg as |stream slide|}}
        {{#slide.header}}{{stream.name}}{{/slide.header}}

        {{#if (and stream.currentComposer.name stream.currentPiece)}}
          {{#slide.body}}
            {{stream.currentComposer.name}}
            {{#if stream.currentComposer}}<br />{{/if}}
            {{stream.currentPiece}}
          {{/slide.body}}
        {{else}}
          {{slide.body}}
        {{/if}}

    {{/stream-carousel}}

    <section class="home__leaderboard">
      {{dfp-ad
        slot="/6483581/leaderboard/wqxr_leaderboard"
        sizes=(array (array 300 50))
        target="leaderboard"
        slotClassNames="home__leaderboard__slot"}}
    </section>
  {{/if}}

    <section class="home__stories">
      {{#nypr-brick-layout audio=audio as |layout|}}

          {{#layout.blowout as |blowout|}}

          {{blowout.main item=model.featuredItems.[0]}}

          {{#if model.membershipChunk}}
            {{#blowout.column}}
              <div class="chunk__item">
                {{django-page page=model.membershipChunk.pagecontent}}
              </div>
            {{/blowout.column}}
          {{else}}
            {{#blowout.column as |column|}}
              {{column.brick item=model.featuredItems.[1]}}
              {{column.brick item=model.featuredItems.[2]}}
            {{/blowout.column}}
          {{/if}}

        {{/layout.blowout}}

          {{#layout.cards as |row|}}
            {{row.brick audio=audio item=model.featuredItems.[3]}}
            {{row.brick audio=audio item=model.featuredItems.[4]}}
            {{#row.brick class='brick__item--sponsored'}}
              {{dfp-ad
                slot="/6483581/rectangle/wqxr_rectangle"
                sizes=(array (array 300 250))
                target="wqxr_bigbox_ad"}}
            {{/row.brick}}
          {{/layout.cards}}

          {{layout.blowout items=(slice model.featuredItems 5 8)}}

      {{/nypr-brick-layout}}
    </section>
  </section>

  {{ newsletter-signup }}

  <section class="l-container l-container--touch-full">
    {{nypr-brick-grid audio=audio items=model.otherItems}}
  </section>


</main>
