<main>
  {{#if model.wartopChunk}}
    <section class="l-container l-container--touch-full wartop-chunk">
      {{django-page page=model.wartopChunk.pagecontent}}
    </section>
  {{else if model.liveChunk}}
    <section class="l-container l-container--touch-full">
      {{django-page page=model.liveChunk.pagecontent}}
    </section>
  {{/if}}

  <section class="l-container l-container--touch-full">
    {{#main-player
      showTitle=streams.firstObject.currentShow.showTitle
      hostImageTemplateUrl=streams.firstObject.hostImageTemplateUrl
      hostImageCropSetting=streams.firstObject.hostImageCropSetting
      showImageUrl=streams.firstObject.currentShow.fullImage.url
    }}
    {{/main-player}}
  </section>

  <section class="l-container l-container--touch-full gtm__click-tracking-container" data-action="Homepage">
    {{#nypr-brick-layout as |layout|}}

      {{#layout.blowout as |blowout|}}

        {{blowout.main item=model.wqxrHome.featuredItems.[0]}}

        {{#if model.membershipChunk}}
          {{#blowout.column as |column|}}
            <div class="chunk__item">
              {{django-page page=model.membershipChunk.pagecontent}}
            </div>
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
          {{/blowout.column}}
        {{else}}
          {{#blowout.column as |column|}}
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
            {{column.brick item=model.wqxrHome.featuredItems.[2]}}
          {{/blowout.column}}
        {{/if}}

      {{/layout.blowout}}

      {{#layout.cards as |row|}}
        {{#each (slice model.wqxrHome.featuredItems 3 6) as |item|}}
          {{row.brick item=item}}
        {{/each}}
      {{/layout.cards}}

      {{#if (gte model.wqxrHome.featuredItems.length 9)}}
        {{layout.blowout flip=true items=(slice model.wqxrHome.featuredItems 6 9)}}
      {{/if}}

    {{/nypr-brick-layout}}
  </section>

  {{ newsletter-signup }}

  <section class="l-container l-container--touch-full">
    {{nypr-brick-grid items=model.wqxrHome.otherItems}}
  </section>

</main>
